<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">

		<title>Add your quotes</title>

		<link rel="stylesheet" href="{{url_for('static', filename='bootstrap.min.css')}}">

	</head>
	<body>
		
		<br>
		<br>

		<div class="container">

			<form action="/process  " method="post">
				<div class="form-group">	
						<label for="author">Quote Author</label>
						<input type="text" name="author" id="inputName" class="form-control" placeholder="Add quote author here"  >
			
				</div>
				<div class="form-group">
					<label for="quote">Quote</label>
						<textarea class="form-control" name="quote" rows="5" id="quote" placeholder="Add your quote here"></textarea> 
		
				</div>
				<button class="btn btn-lg btn-primary btn-block" type="submit"> Submit </button>
			</form>
	</body>
</html>